# Python Data Science Prep Class - Intro to Pandas (JPW Lecture)

In [2]:
# import Pandas with name as 'pd' by convention.  We can now use 'pd' to access all Pandas methods and attributes.
import pandas as pd

There are many ways we can create a DataFrame.

1. We can just pass a list. Note the columns and rows (index) are not labeled but are simply given a number. This is just a demonstration to show how DataFrames parse incoming data and would likely never be done.

In [6]:
# Passing in a single list creates a single column.
deep_data = [10, 20, 30, 40, 50]
pd.DataFrame(deep_data)

    0
0  10
1  20
2  30
3  40
4  50

In [5]:
# Passing in a nested list (note double brackets) creates a single row
wide_data = [[10, 20, 30, 40, 50]]
pd.DataFrame(wide_data)

   0  1  2  3  4
0  1  2  3  4  5

In [7]:
# 2. We can specify the column and/or row names at creation.  
# Note we don't have to actually pass in any data to create a DataFrame.  We can just specify the structure of its rows (index) x columns and it will be created blank.
pd.DataFrame(index=['row_1', 'row_2', 'row_3'], columns=['col_1', 'col_2', 'col_3'])

# When we run this, we get a 3x3 DataFrame as expected, but since we passed no actual data in we get "NaN" values.  
# NaN stands for "Not a Number", and is equivalent to a null value.  
# To keep things simple here, a matrix that has many NaNs for a given series or category is called "sparse" 
# (it's more technical than this, but that's the gist you need to take home).  If the DataFrame is mostly full, 
# it is called "dense."  In general, we will want to ideally work with "dense" data.

      col_1 col_2 col_3
row_1   NaN   NaN   NaN
row_2   NaN   NaN   NaN
row_3   NaN   NaN   NaN